.form-login{
  text-align: center;
  width: 400px;
  margin: auto;
  padding: auto;
}

.center {
  display: block;
  margin: 10px auto;
  width: 50%;
}

.googleBtn{
  max-width: 500px;
  margin: auto;
  border: 3px solid #73AD21;
}

